<app-nav-bar></app-nav-bar>
<div class="wrapper" style="margin: 25px">
  <p-tabView *ngIf="dbService.poomsaes && dbService.poomsaes.length > 0">
    <p-tabPanel
      *ngFor="let poomsae of dbService.poomsaes"
      [header]="poomsae.name"
    >
      <p-dataView [value]="poomsae.poses">
        <ng-template let-pose pTemplate="listItem">
          <p-card
            [header]="pose.name"
            [style]="{ width: '22rem', margin: '1rem' }"
            (click)="goToPractice(pose.name)"
          >
            <ng-template pTemplate="header">
              <img class="card-image" alt="Card" [src]="pose.picture" />
            </ng-template>
            <h5>
              Ultima Práctica:
              <span style="font-weight: 200">{{
                history[pose.name]?.lastPractice || "No hay prácticas previas"
              }}</span>
            </h5>
            <h5>
              Mejor Promedio:
              <span style="font-weight: 200">{{
                history[pose.name]?.bestGrade || "No hay puntajes previos"
              }}</span>
            </h5>
          </p-card>
        </ng-template>
      </p-dataView>
    </p-tabPanel>
  </p-tabView>
</div>
