<div class="sidenav">
  <div class="login-main-text">
    <h2>Inicia sesión o regístrate para acceder</h2>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="registroForm">
        <div class="form-group">
          <label>Nombre de Usuario</label>
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Nombre de Usuario"
          />
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Contraseña"
          />
        </div>
        <button
          type="button"
          [disabled]="registroForm.invalid"
          class="btn btn-black"
          (click)="loginYcrearUsuario('login')"
        >
          Iniciar Sesión
        </button>
        <button
          type="button"
          [disabled]="registroForm.invalid"
          class="btn btn-secondary"
          (click)="loginYcrearUsuario('register')"
        >
          Registrar
        </button>
      </form>
    </div>
  </div>
</div>
