<div class="sidenav">
  <div class="login-main-text">
    <h2>
      Application<br />
      Login Page
    </h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="registroForm">
        <div class="form-group">
          <label>User Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="User Name"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <button
          type="button"
          [disabled]="registroForm.invalid"
          class="btn btn-black"
          (click)="loginYcrearUsuario('login')"
        >
          Login
        </button>
        <button
          type="button"
          [disabled]="registroForm.invalid"
          class="btn btn-secondary"
          (click)="loginYcrearUsuario('register')"
        >
          Register
        </button>
      </form>
    </div>
  </div>
</div>
