.top-nav > h3 {
  color: white;
}
button {
  margin: 10px;
  border: black;
  background-color: black;

}

.navBar_wrapper{
  position: fixed;
  z-index: 10;
  top:0;
  width:100%;
}

.nav_spacer{
  height: 70px;
}